body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  background: #e2c764;
}

#START .container {
  box-sizing: border-box;
  background: rgba(206, 112, 74, 1);
  margin: 30px 0;
  padding: 30px;
  width: 34%;
  position: absolute;
  top: 25%;
  left: 33%;
  border-radius: 30px;
}
#START h1 {
  text-align: center;
}
.start-form {
  margin: 30px;
  text-align: center;
}

input[type="submit"] {
  background: rgba(206, 112, 74, 1);
  border: none;
  height: 40px;
  font-size: 14px;
  padding: 10px;
  margin: 0;
}

input[type="submit"]:hover {
  background: #f09d00;
  cursor: pointer;
}
